themes {
     {
        bg "#f1ebba"
        fg "#ae8069"
        black "#e2c88c"
        red "#5f1610"
        green "#304530"
        yellow "#6c4c03"
        blue "#184c71"
        magenta "#71363b"
        cyan "#224e52"
        white "#ae8069"
        orange "#723502"
    }
}
