themes {
     {
        bg "#100c0a"
        fg "#c1a386"
        black "#2d201b"
        red "#e25054"
        green "#84bc5c"
        yellow "#f4af25"
        blue "#5899e4"
        magenta "#a079d8"
        cyan "#33c1b3"
        white "#c1a386"
        orange "#f96f1f"
    }
}
