themes {
     {
        bg "#f2e7ce"
        fg "#262626"
        black "#dac7a9"
        red "#8c1616"
        green "#3b543a"
        yellow "#7a5a09"
        blue "#13317a"
        magenta "#652951"
        cyan "#2c6376"
        white "#262626"
        orange "#933e1a"
    }
}
