themes {
     {
        bg "#efede5"
        fg "#3d240f"
        black "#c5b89f"
        red "#75091b"
        green "#184e0d"
        yellow "#674708"
        blue "#0b4764"
        magenta "#52105f"
        cyan "#0c594c"
        white "#3d240f"
        orange "#791906"
    }
}
